.root{
    /*-fx-background-color: #262626;*/
    -fx-background-color: #191719;
}

.border-pane {
  -fx-background-color: #191719;
}

.scroll-pane .viewport {
    -fx-background-color: transparent; /*or whatever you want*/
}

VBox, HBox{
  -fx-background-color: #191719;
}

.scroll-pane {
    -fx-background:transparent;
}

.label {
	-fx-text-fill: white;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}


.chart {
    -fx-padding: 10px;
    -fx-background-color: #191719;
    -fx-legend-visible: false;
}

.chart-content {
    /*-fx-padding: 30px;   */
}

.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke:#505050;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #505050;
}

.chart-alternative-row-fill {
    -fx-fill:transparent;
    -fx-stroke: transparent;
}

.scroll-pane > .viewport {
  -fx-background-color: #191719;
}

/*.default-color0.chart-series-line {
    -fx-stroke: #0000ff;
}*/

/*.default-color0.chart-line-symbol {
    -fx-background-color: #0000ff, white;
}*/
